/* General Styles */
.about {
    text-align: center;
    margin-top: 5rem;
}
.about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.about-container {
    margin: 0 auto;
}
.aboutInformation{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.about h1 {
    color: black;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}
.aboutImageContainer img{
    width: 70%;
    height: auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}